# Pillow 库依赖

sudo apt-get install libtiff4-dev libjpeg8-dev zlib1g-dev \
    libfreetype6-dev liblcms2-dev libwebp-dev tcl8.5-dev tk8.5-dev python-tk

# MySQLdb 库依赖

sudo apt-get install python-setuptools libmysqld-dev python-dev 
